@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@16display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to right, #01022d ,#000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contanier{
    background-image: 
    linear-gradient(to right, #01022de5 30%, #0000008c),
    url(avatar.webp);
    background-position: center;
    width: 90%;
    height: 640px;
}
.contanier:hover{
    background-image: 
    linear-gradient(to right, #01022de5 30%, transparent),
    url(avatar.webp)
    ;
    width: 90%;
    height: 650px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;padding: 10px;
}
.logo{
    color: white;
    font-size: 30px;
    text-decoration: none;
}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    border-bottom: 2px solid transparent;
    font-weight: 600;
}
ul a:hover{
    border-bottom-color: #bd5050;
}
.content{
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.content h2{
    color: #bd5050;
    font-size: 90px;
    font-weight: 600;
}
.content p{
    color: white;
    width: 350px;
    padding: 6px 0px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    line-height: 20px;
}
.content button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.content button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
}